{% if more is defined %}
    {% set btn = action != 'list' %}
    {% set more = more|filter(i => sentry(i.sentry)) %}
    {% if more|length > 0 %}
        {{ include_once('@backend/system/js/dropdown.html.twig') }}
        <div
            backend-dropdown-space
        >
            {% for item in more %}
                {% if loop.first %}
                    {% if sentry(item.sentry) %}
                        <a
                            href="{{ item.url }}"
                            class="
                                {% if btn %}
                                    inline-flex items-center rounded-md
                                    shadow-sm font-semibold text-white bg-indigo-700
                                    hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
                                    px-3 py-2 text-sm
                                {% else  %}
                                    text-indigo-600
                                {% endif %}
                            "
                        >
                            {{ item.title }}
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if more|length > 1 %}
                <div class="relative inline-block">
                    <button
                        href="#"
                        class="
                            {% if btn %}
                                inline-flex items-center rounded-md bg-gray-100 px-3 py-2 text-sm font-semibold text-gray-800 shadow-sm hover:bg-gray-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-200
                            {% else  %}
                                inline-flex px-1 text-indigo-600
                            {% endif %}
                        "
                        onclick="backend.dropdown.toggle(this, event)"
                    >
                        ⋮
                    </button>

                    <div
                        backend-dropdown-panel
                        style="display: none;"
                        class="opacity-100 absolute right-0 z-10 mt-2.5 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 text-left ring-gray-900/5 focus:outline-none"
                        role="menu"
                        aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1"
                    >
                        {% for item in more %}
                            {% if not loop.first %}
                                <a
                                    href="{{ item.url }}"
                                    class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-200"
                                    role="menuitem"
                                    tabindex="-1"
                                >
                                    {{ item.title }}
                                </a>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            {% endif %}

        </div>
    {% endif %}
{% endif %}
