{% if action == 'list' %}
    {% set deplink = backend().pilot().__call(deptype).link('index') %}
    {% set depparam = depparam is defined ? depparam : reltype ~ '_id' %}
    {% set depurl = backend().alterurl(deplink.url, {depparam: value['id']}) %}
    {% set depcount = backend().repository().__call(deptype).count({depparam: value['id']}) %}
    <a href="{{ depurl }}">
        {{ deplink.title }}
        ({{ depcount }})
    </a>
{% elseif action == 'detail' %}
    {% set deplink = backend().pilot().__call(deptype).link('index') %}
    {% set depparam = depparam is defined ? depparam : reltype ~ '_id' %}
    {% set depurl = backend().alterurl(deplink.url, {depparam: value['id']}) %}
    {% set depcount = backend().repository().__call(deptype).count({depparam: value['id']}) %}
    {% set label = label is defined ? label : deplink.title %}
    {% include '@backend/system/resource/field/detail/begin.html.twig' %}
    <a href="{{ depurl }}">
        {{ depcount }}
    </a>
    {% include '@backend/system/resource/field/detail/end.html.twig' %}
{% endif %}
