{% if backend().selection().enabled() %}
    {{ include_once('@backend/system/js/selection.html.twig') }}
    <div>
        <button
            type="button"
            onclick="backend.selection.commit(this, '{{
            resource }}')"
        >
            {{ "Select"|t }}
        </button>
        <button
            type="button"
            onclick="backend.selection.cancel('{{
            resource }}')"
        >
            {{ "Cancel"|t }}
        </button>
    </div>
{% endif %}